@model UtilityManagement.Models.TblEtpPlanCostInfo

@{
    ViewData["Title"] = "Create ETP Plan Cost Info";
}
<style>
    html, body {
        overflow: hidden;
        height: 100%;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-lg border-0">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Add New ETP Plan Cost Info</h5>
                </div>
                <div class="card-body p-4">
                    <form asp-action="Create" method="post">
                        <div asp-validation-summary="ModelOnly"
                             class="text-danger mb-3">
                        </div>
                        <div class="row g-3">
                            <!-- Trdate -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="Trdate" class="form-label">
                                    Date <span class="text-danger">*</span>
                                </label>
                                <input asp-for="Trdate" type="date" class="form-control" />

                                <span asp-validation-for="Trdate" class="text-danger"></span>
                            </div>
                            <!-- Equipment -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="Eqid" class="form-label">
                                    Equipment <span class="text-danger">*</span>
                                </label>
                                <select asp-for="Eqid" asp-items="ViewBag.EquipmentList" class="form-select">
                                    <option value="">-- Select Equipment --</option>
                                </select>

                                <span asp-validation-for="Eqid" class="text-danger"></span>
                            </div>
                            <!-- UreaConsumption -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="UreaConsumption" class="form-label">
                                    Urea Consumption<span class="text-danger">*</span>
                                </label>
                                <input asp-for="UreaConsumption" class="form-control" />
                                <span asp-validation-for="UreaConsumption" class="text-danger"></span>
                            </div>
                            <!-- UreaCost -->
                            <!-- UreaCost=UreaConsumption*UreaRate -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="UreaCost" class="form-label">
                                    Urea Cost <UreaCost class="text-danger">*</UreaCost>
                                </label>
                                <input asp-for="UreaCost" class="form-control" readonly />
                                <span asp-validation-for="UreaCost" class="text-danger"></span>
                            </div>
                            <!-- DecoloringConsumption -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="DecoloringConsumption" class="form-label">
                                    Decoloring Consumption<span class="text-danger">*</span>
                                </label>
                                <input asp-for="DecoloringConsumption" class="form-control" />
                                <span asp-validation-for="DecoloringConsumption" class="text-danger"></span>
                            </div>
                            <!-- DecoloringCost -->
                            <!-- DecoloringCost=DecoloringConsumption*DecoloringRate -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="DecoloringCost" class="form-label">
                                    Decoloring Cost<span class="text-danger">*</span>
                                </label>
                                <input asp-for="DecoloringCost" class="form-control" readonly />
                                <span asp-validation-for="DecoloringCost" class="text-danger"></span>
                            </div>
                            <!-- DapConsumption -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="DapConsumption" class="form-label">
                                    DAP Consumption<span class="text-danger">*</span>
                                </label>
                                <input asp-for="DapConsumption" class="form-control" />
                                <span asp-validation-for="DapConsumption" class="text-danger"></span>
                            </div>
                            <!-- DapCost -->
                            <!-- DapCost=DapConsumption*DapRate -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="DapCost" class="form-label">
                                    DAP Cost<span class="text-danger">*</span>
                                </label>
                                <input asp-for="DapCost" class="form-control" readonly />
                                <span asp-validation-for="DapCost" class="text-danger"></span>
                            </div>
                            <!-- PolymerConsumption -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="PolymerConsumption" class="form-label">
                                    Polymer Consumption<span class="text-danger">*</span>
                                </label>
                                <input asp-for="PolymerConsumption" class="form-control" />
                                <span asp-validation-for="PolymerConsumption" class="text-danger"></span>
                            </div>
                            <!-- PolymerCost -->
                            <!-- PolymerCost=PolymerConsumption*PolymerRate -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="PolymerCost" class="form-label">
                                    Polymer Cost<span class="text-danger">*</span>
                                </label>
                                <input asp-for="PolymerCost" class="form-control" readonly />
                                <span asp-validation-for="PolymerCost" class="text-danger"></span>
                            </div>
                            <!-- MolassasesConsumption -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="MolassasesConsumption" class="form-label">
                                    Molassases Consumption<span class="text-danger">*</span>
                                </label>
                                <input asp-for="MolassasesConsumption" class="form-control" />
                                <span asp-validation-for="MolassasesConsumption" class="text-danger"></span>
                            </div>
                            <!-- MolassasesCost -->
                            <!-- MolassasesCost=MolassasesConsumption*MolassasesRate -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="MolassasesCost" class="form-label">
                                    Molassases Cost<span class="text-danger">*</span>
                                </label>
                                <input asp-for="MolassasesCost" class="form-control" readonly />
                                <span asp-validation-for="MolassasesCost" class="text-danger"></span>
                            </div>
                            <!-- AntifoamConsumption -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="AntifoamConsumption" class="form-label">
                                    Antifoam Consumption<span class="text-danger">*</span>
                                </label>
                                <input asp-for="AntifoamConsumption" class="form-control" />
                                <span asp-validation-for="AntifoamConsumption" class="text-danger"></span>
                            </div>
                            <!-- AntifoamCost=AntifoamConsumption*AntifoamRate -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="AntifoamCost" class="form-label">
                                    Antifoam Cost<span class="text-danger">*</span>
                                </label>
                                <input asp-for="AntifoamCost" class="form-control" readonly />
                                <span asp-validation-for="AntifoamCost" class="text-danger"></span>
                            </div>
                            <!-- H2so4Consumption -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="H2so4Consumption" class="form-label">
                                    H2SO4 Consumption <span class="text-danger">*</span>
                                </label>
                                <input asp-for="H2so4Consumption" class="form-control" />
                                <span asp-validation-for="H2so4Consumption" class="text-danger"></span>
                            </div>
                            <!-- H2so4Cost -->
                            <!-- H2so4Cost=H2so4Consumption*H2so4Rate -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="H2so4Cost" class="form-label">
                                    H2SO4 Cost <span class="text-danger">*</span>
                                </label>
                                <input asp-for="H2so4Cost" class="form-control" readonly />
                                <span asp-validation-for="H2so4Cost" class="text-danger"></span>
                            </div>
                            <!-- BiocleanConsumption -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="BiocleanConsumption" class="form-label">
                                    Bioclean Consumption
                                </label>
                                <input asp-for="BiocleanConsumption" class="form-control" />
                                <span asp-validation-for="BiocleanConsumption" class="text-danger"></span>
                            </div>
                            <!-- BiocleanCost -->
                            <!-- BiocleanCost= BiocleanConsumption*BiocleanRate-->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="BiocleanCost" class="form-label">
                                    Bioclean Cost
                                </label>
                                <input asp-for="BiocleanCost" class="form-control" readonly />
                                <span asp-validation-for="BiocleanCost" class="text-danger"></span>
                            </div>
                            <!-- TotalChemicalCost -->
                            <!-- TotalChemicalCost=UreaCost+DecoloringCost+DapCost+PolymerCost+MolassasesCost+AntifoamCost+H2so4Cost+BiocleanCost -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="TotalChemicalCost" class="form-label">
                                    Total Chemical Cost
                                </label>
                                <input asp-for="TotalChemicalCost" class="form-control" readonly />
                                <span asp-validation-for="TotalChemicalCost" class="text-danger"></span>
                            </div>
                            <!-- MaintenanceCost -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="MaintenanceCost" class="form-label">
                                    Maintenance Cost<span class="text-danger">*</span>
                                </label>
                                <input asp-for="MaintenanceCost" class="form-control"/>
                                <span asp-validation-for="MaintenanceCost" class="text-danger"></span>
                            </div>
                            <!-- ManpowerSalary -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ManpowerSalary" class="form-label">
                                    Manpower Salary
                                </label>
                                <input asp-for="ManpowerSalary" class="form-control" />
                                <span asp-validation-for="ManpowerSalary" class="text-danger"></span>
                            </div>
                            <!-- MiscellaneousCost -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="MiscellaneousCost" class="form-label">
                                    Miscellaneous Cost
                                </label>
                                <input asp-for="MiscellaneousCost" class="form-control" />
                                <span asp-validation-for="MiscellaneousCost" class="text-danger"></span>
                            </div>
                            <!-- GrandTotalCost -->
                            <!-- GrandTotalCost= TotalChemicalCost+Maintenance+ManpowerSalary+MiscellaneousCost -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="GrandTotalCost" class="form-label">
                                    Grand Total Cost
                                </label>
                                <input asp-for="GrandTotalCost" class="form-control" />
                                <span asp-validation-for="GrandTotalCost" class="text-danger"></span>
                            </div>
                            <!-- DailyEffluentFlow -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="DailyEffluentFlow" class="form-label">
                                    Daily Effluent Flow
                                </label>
                                <input asp-for="DailyEffluentFlow" class="form-control" />
                                <span asp-validation-for="DailyEffluentFlow" class="text-danger"></span>
                            </div>
                            <!-- EffluentFlowThrough -->
                            <!-- EffluentFlowThrough= DailyEffluentFlow/24-->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="EffluentFlowThrough" class="form-label">
                                    Effluent Flow Through/Hr
                                </label>
                                <input asp-for="EffluentFlowThrough" class="form-control" />
                                <span asp-validation-for="EffluentFlowThrough" class="text-danger"></span>
                            </div>
                            <!-- ChemicalCost -->
                            <!-- ChemicalCost=TotalChemicalCost/DailyEffluentFlow -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ChemicalCost" class="form-label">
                                    Chemical Cost
                                </label>
                                <input asp-for="ChemicalCost" class="form-control" readonly />
                                <span asp-validation-for="ChemicalCost" class="text-danger"></span>
                            </div>
                            <!-- DailyEtpCost -->
                            <!-- DailyEtpCost=GrandTotalCost/EffluentFlowThrough -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="DailyEtpCost" class="form-label">
                                    Daily ETP Cost
                                </label>
                                <input asp-for="DailyEtpCost" class="form-control" readonly />
                                <span asp-validation-for="DailyEtpCost" class="text-danger"></span>
                            </div>
                            <!-- DyeingProduction -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="DyeingProduction" class="form-label">
                                    Dyeing Production
                                </label>
                                <input asp-for="DyeingProduction" class="form-control" />
                                <span asp-validation-for="DyeingProduction" class="text-danger"></span>
                            </div>
                            <!-- EtpChemCostPerKgDyeing -->
                            <!-- EtpChemCostPerKgDyeing=DyeingProduction/TotalChemicalCost -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="EtpChemCostPerKgDyeing" class="form-label">
                                    ETP Chemical Cost Per Kg Dyeing
                                </label>
                                <input asp-for="EtpChemCostPerKgDyeing" class="form-control" readonly />
                                <span asp-validation-for="EtpChemCostPerKgDyeing" class="text-danger"></span>
                            </div>
                            <!-- EflluentTreatmentPerKgDyeing -->
                            <!-- EflluentTreatmentPerKgDyeing=DyeingProduction/EffluentFlowThrough-->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="EflluentTreatmentPerKgDyeing" class="form-label">
                                    Eflluent Treatment Per Kg Dyeing
                                </label>
                                <input asp-for="EflluentTreatmentPerKgDyeing" class="form-control" readonly />
                                <span asp-validation-for="EflluentTreatmentPerKgDyeing" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <a asp-action="EtpPlanCostInfoList"
                               class="btn btn-sm btn-outline-secondary">
                                ← Back
                            </a>
                            <button type="submit"
                                    class="btn btn-sm btn-primary px-2">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // Rates from Backend
        const ureaRate = parseFloat('@ViewBag.UreaRate') || 0;
        const decoloringRate = parseFloat('@ViewBag.DecoloringRate') || 0;
        const dapRate = parseFloat('@ViewBag.DapRate') || 0;
        const polymerRate = parseFloat('@ViewBag.PolymerRate') || 0;
        const molassasesRate = parseFloat('@ViewBag.MolassasesRate') || 0;
        const antifoamRate = parseFloat('@ViewBag.AntifoamRate') || 0;
        const h2so4Rate = parseFloat('@ViewBag.H2SO4Rate') || 0;
        const bioCleanRate = parseFloat('@ViewBag.BioCleanRate') || 0;

        function val(id) {
            return parseFloat($("#" + id).val()) || 0;
        }

        function set(id, value) {
            $("#" + id).val(value.toFixed(2));
        }

        function calculate() {

            // Chemical Costs
            let ureaCost = val("UreaConsumption") * ureaRate;
            let decoloringCost = val("DecoloringConsumption") * decoloringRate;
            let dapCost = val("DapConsumption") * dapRate;
            let polymerCost = val("PolymerConsumption") * polymerRate;
            let molassasesCost = val("MolassasesConsumption") * molassasesRate;
            let antifoamCost = val("AntifoamConsumption") * antifoamRate;
            let h2so4Cost = val("H2so4Consumption") * h2so4Rate;
            let bioCleanCost = val("BiocleanConsumption") * bioCleanRate;

            set("UreaCost", ureaCost);
            set("DecoloringCost", decoloringCost);
            set("DapCost", dapCost);
            set("PolymerCost", polymerCost);
            set("MolassasesCost", molassasesCost);
            set("AntifoamCost", antifoamCost);
            set("H2so4Cost", h2so4Cost);
            set("BiocleanCost", bioCleanCost);

            // Total Chemical Cost
            let totalChemicalCost =
                ureaCost + decoloringCost + dapCost + polymerCost +
                molassasesCost + antifoamCost + h2so4Cost + bioCleanCost;

            set("TotalChemicalCost", totalChemicalCost);

            // Grand Total
            let grandTotal =
                totalChemicalCost +
                val("MaintenanceCost") +
                val("ManpowerSalary") +
                val("MiscellaneousCost");

            set("GrandTotalCost", grandTotal);

            // Effluent Flow Through
            let dailyFlow = val("DailyEffluentFlow");
            let flowThrough = dailyFlow / 24;
            set("EffluentFlowThrough", flowThrough);

            // Chemical Cost
            let chemicalCost = dailyFlow > 0 ? totalChemicalCost / dailyFlow : 0;
            set("ChemicalCost", chemicalCost);

            // Daily ETP Cost
            let dailyEtpCost = flowThrough > 0 ? grandTotal / dailyFlow : 0;
            set("DailyEtpCost", dailyEtpCost);

            // ETP Chemical Cost Per Kg Dyeing
            let dyeingProduction = val("DyeingProduction");
            let etpChemCostPerKg = dyeingProduction > 0
                ? totalChemicalCost / dyeingProduction
                : 0;
            set("EtpChemCostPerKgDyeing", etpChemCostPerKg);

            // Effluent Treatment Per Kg Dyeing
            let effluentTreatment = dyeingProduction > 0
                ? dyeingProduction / dailyFlow
                : 0;
            set("EflluentTreatmentPerKgDyeing", effluentTreatment);
        }

        $(document).ready(function () {

            $("input").on("input", function () {
                calculate();
            });

            calculate();
        });
    </script>
}
